body{
    background-color: rgba(122, 191, 191, .5);
}



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');



h1{
font-size: 40px;
font-family: 'Bebas Neue', cursive;
text-align: center;
}

#navbar li{list-style: none;}

h2{
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.search{
text-align: center;

}




h3{
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
}

nav{
font-size: 16px;
font-family: 'Montserrat', sans-serif;
}

nav a, nav span{
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
}

li{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#gridOne{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    background-color: #F2F2F2;
    
}

.right{text-align: right;}

#details{
background-color: #0D0D0D;
color: #7ABFBF; 
}

.TopMenu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: #EB5428;
}

#signIn{
    color: #0D0D0D;
}

#gridTwo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #0D0D0D;
    color: #7ABFBF;
    padding-left:20px;
}

#gridThree{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #F2F2F2;
    color: #0D0D0D;
}

.gridFour{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #7ABFBF;
    color: #0D0D0D;
}

#circle-clip{
    clip-path: circle(100px at center);
  }

.SideDishes{
    background-color: #7ABFBF;

}

.Connect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#SocialM li{
        float: right;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        display: block;
        color: #EB5428;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      
}

@media only screen and (max-width: 1280px) and (min-width: 768px){
    #gridOne{
        display: block;
        text-align: center;
    }
    #caption{
        text-align: left;
    }
    nav ul{
        display: flex;
        justify-content: center;}
      
    }

    @media only screen and (max-width: 768px) and (min-width: 414px){
        #gridOne{
            display: block;
            text-align: center;
        }
        #caption{
            text-align: left;
        }
        #details{
            background-color: white;
            color:black;
            }

        nav ul{
            display: flex;
            justify-content: center;}
            

        #gridTwo{
            display: block;
            background-color: white;
            color:black;
        }
        #gridThree{
            display: block;
        }
        #gridFour{
            display: block;
        }
          
        }
